.container {
  background-color: #15ABA5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
  /***/
}

.card{
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 15px;
}

.card-size {
  width: 400px;
  height: 500px;
}

.card-image{
  background-image: url(./images/banner-big.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px 0 0 15px;
}

.card-content{
  /***/
}

.form{
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
}
.form > .form-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form > .form-row .form-column{
  flex-basis: 45%;
}
.form .form-input{
  width: 100%;
  margin-bottom: 30px;
  padding: 9px 7px;
  border-radius: 5px;
  border: 1px solid #AFAFAF;
  box-sizing: content-box;
}
.form select{
  background: unset;
  max-width: unset;
}
.form-button{
  padding: 9px 7px;
  width: 100%;
  box-sizing: content-box;
  font-weight: bold;
  color: #fff;
  background-color: #15ABA5;
  border: 1px solid #15ABA5;
  border-radius: 5px;
}
